<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Template</title>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
</head>
<body background="https://i.pinimg.com/originals/c3/e5/98/c3e598e5bfe02cbbdcbec4b04ba668a4.png">
    <br>
    <div class="block fixed" style="width: 60%; margin: 0 auto;">
        <br>
        <h1 style="margin:auto; text-align:center;">Art Workshop</h1>
        <form>
            <h2 style="margin-left:10%"> Enter you details</h2>
            <label style="font-size:x-large; font-weight:400; margin-left:10%">Full Name</label><br>
            <input type="text" style="font-size:large; width:300px; margin-left:10%" placeholder="Enter your name"><br>
            <label style="font-size:x-large; font-weight:400; margin-left:10%">Email</label><br>
            <input type="text" style="font-size:large; width:300px;  margin-left:10%" placeholder="Enter your email address"><br>
            <label style="font-size:x-large; font-weight:400; margin-left:10%">Why do you want to attend this workshop</label><br>
            <textarea type="text" style="font-size:larger; width:600px;  margin-left:10%" placeholder="What makes you interested in this topic?"></textarea><br>
            <label style="font-size:x-large; font-weight:400; margin-left:10%">Which topic will you be interested in?</label><br>
            <select name="options" id="options" style="font-size:large; width: fit-content; margin-left:10%">
                <option value="painting">Painting</option>
                <option value="drawing">Drawing</option>
                <option value="sketching">Sketching</option>
                <option value="calligraphy">Calligraphy</option>
              </select><br><br>
            <button class="outline" style="font-size:large; margin-left:45%; margin-right:50%; ">Submit</button>
            <br><br>    
        </form>
    </div>
    <h3 style="margin-left: auto; margin-right:auto; margin-bottom:0px; width:fit-content;  background-color:rgb(251, 255, 0)" >
        <span>
            <a href="/">
                Go back Home
            </a>
        </span>
    </h3>
    <h3 style="margin-left: auto; margin-right:auto; margin-top:10px; width:fit-content;  background-color:rgb(251, 255, 0)" >
        <span>
            <a href="https://github.com/fillerInk/deta-forms/blob/master/form/views/simple.ejs">
                Fork this template
            </a>
        </span>
    </h3>
    
</body>
</html>