<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to use?</title>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" 
      type="image/png" 
      href="https://uploads-ssl.webflow.com/5eb96efa78dc680fc15be3be/5ec58afd4c8861f6c93a048f_favi.png">
</head>
<body>
    <br>
    <div class="maincard">
        <br>
        <div class="topnav" style="margin-left:15%; margin-right:15%">
            <div style="float:left">
                <h1 style="margin-top: 0; margin-bottom:30px; width:max-content;">
                    <span><img class="icon" src="assets/logo.svg"></span>  Deta Forms
                </h1>
            </div>
            <div style="float:right;">
                <a  href="/">Home</a>
                <a class="active" href="/steps">Steps</a>
                <a href="/templates">Templates</a>
            </div>
            
        </div>

        <br><br>


    <h1 style="font-weight:600; color:#333; width: 70%; margin: 0 auto;">How to use Deta for your forms?</h1>
        <ul style="font-size:larger; width:70%; margin: 0 auto;"> 
            <li><h3 style="font-weight: 500; margin:0">Sign in at <span><a target="_blank" href="https://deta.sh">deta.sh</a></span></h3></li>
            <li><h3 style="font-weight: 500; margin:0">Create a new project and get the project key</h3></li>
            <li><h3 style="font-weight: 500; margin:0">Add a form in your html </h3></li>
<pre class="language-markup line-numbers" style="border-radius:15px; margin: 0 auto; padding:0; height:fit-content;"><code>         
<xmp>    <form method="post" 
        action="/write" onsubmit="return checkForm()">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
        <button type="submit">Submit!</button>
    </form> 
</xmp>
</code></pre>
            <li><h3 style="font-weight: 500; margin:0">In your server side code, validate the data and write into your Base</h3></li>
<pre class="language-javascript line-numbers" style="border-radius:15px; margin: 0 auto; padding:0; height:fit-content;"><code>         
<xmp>    const deta = new Deta('project_key')
    const db = deta.Base('form_db')

    db.put({
        firstName : req.body.firstName,
        lastName : req.body.lastName
    })

    res.redirect("/somewhere_else")
</xmp>
</code></pre>
            <li><h3 style="font-weight: 500; margin:0">Read entries from the Base or even run complex queries</h3></li>
<pre class="language-javascript line-numbers" style="border-radius:15px; margin: 0 auto; padding:0; height:fit-content;"><code>         
<xmp>    const deta = new Deta('project_key')
    const db = deta.Base('form_db')

    const entries = await db.fetch().next()

    console.log(entries)
</xmp>
</code></pre>

        <li><h3 style="font-weight: 500; margin:0">Or you can use your project key to display the values in sites like <span><a href="https://explorer.deta.dev">explorer.deta.dev</a></span></h3></li>

        </ul>
        

        <br>
    </div>
    <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>

</body>
</html>