<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" 
      type="image/png" 
      href="https://uploads-ssl.webflow.com/5eb96efa78dc680fc15be3be/5ec58afd4c8861f6c93a048f_favi.png">
    <title>Deta Forms</title>
</head>
<body>
    <br>
    <div class="maincard">
        <br>

        <div class="topnav" style="margin-left:15%; margin-right:15%">
            <div style="float:left">
                <h1 style="margin-top: 0; margin-bottom:30px; width:max-content;">
                    <span><img class="icon" src="assets/logo.svg"></span>  Deta Forms
                </h1>
            </div>
            <div style="float:right;">
                <a href="/">Home</a>
                <a href="/steps">Steps</a>
                <a class="active" href="/templates">Templates</a>
            </div>
        </div> <!--End of nav bar-->

        <br><br>

        <h2 style="width: 70%; margin: 0 auto;">
            Templates for creating your forms
        </h2>
        
        <br><br>
    </div> <!--End of maincard div-->
    <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
</body>
</html>